<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sub.syn.jzdy.PJzdyDao" >
  <resultMap id="BaseResultMap" type="com.sub.syn.jzdy.PJzdy" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DOUBLE" />
    <result column="price_max" property="priceMax" jdbcType="DOUBLE" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="tx_time" property="txTime" jdbcType="TIMESTAMP" />
    <result column="goods_id" property="goodsId" jdbcType="BIGINT" />
  </resultMap>
  
  <select id="selectTs" resultType="com.sub.syn.jzdy.PJzdy">
  	select id, type, content, 
      price, mobile, create_time, price_max priceMax,
      tx_time, goods_id from p_jzdy where tx_time is null limit 20
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from p_jzdy
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.sub.syn.jzdy.PJzdy" >
    insert into p_jzdy (id, type, content, 
      price, mobile, create_time, 
      tx_time, goods_id)
    values (#{id,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR}, 
      #{price,jdbcType=DOUBLE}, #{mobile,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{txTime,jdbcType=TIMESTAMP}, #{goodsId,jdbcType=BIGINT})
  </insert>
  
  <!-- 查询订阅优惠信息 按关键字查询 -->
  <select id="selectByContent" parameterType="com.sub.syn.jzdy.PJzdy" resultType="com.sub.syn.youhuiquan.YouHuiQuan">	
  	
  	select id,
		goods_ID goodsId, title,
		ditle, pic, price, isTmall,
		salesNum, dsr, sellerID,
		introduce, quanPrice, quanCondition,
		quanLink,qQuanMLink,aliClick,orgPrice,type,quan_surplus,quan_time from (select * from (select *,orgPrice-quanPrice d from p_youhuiquan where title like CONCAT('%','${content}','%' )  or ditle like  CONCAT('%','${content}','%' )  and quan_surplus>5) tt  
	where tt.d BETWEEN #{price,jdbcType=INTEGER} and #{priceMax,jdbcType=INTEGER} ORDER BY tt.SalesNum desc) r LIMIT 1
  </select>
  
  <insert id="insertSelective" parameterType="com.sub.syn.jzdy.PJzdy" >
    insert into p_jzdy
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="txTime != null" >
        tx_time,
      </if>
      <if test="goodsId != null" >
        goods_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="txTime != null" >
        #{txTime,jdbcType=TIMESTAMP},
      </if>
      <if test="goodsId != null" >
        #{goodsId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sub.syn.jzdy.PJzdy" >
    update p_jzdy
    <set >
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="txTime != null" >
        tx_time = #{txTime,jdbcType=TIMESTAMP},
      </if>
      <if test="goodsId != null" >
        goods_id = #{goodsId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sub.syn.jzdy.PJzdy" >
    update p_jzdy
    set type = #{type,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      price = #{price,jdbcType=DOUBLE},
      mobile = #{mobile,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      tx_time = #{txTime,jdbcType=TIMESTAMP},
      goods_id = #{goodsId,jdbcType=BIGINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <update id="updateTxTime" parameterType="com.sub.syn.jzdy.PJzdy">
  	update p_jzdy set tx_time = #{txTime,jdbcType=TIMESTAMP} where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>